# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build-directory
build

# Ignore default executable
vmc

# Configuration files
.vscode

# Text files
*.txt
#Enabling csv again because we want to keep parameter files that are decently short and take very long time to generate.y
#*.csv

# archive files
*.zip
*.rar

# plots
*.pdf

# IntelliJ, project folder
.idea

